# Copy to /etc/systemd/system

Description=ETSU Office Hours Django webapp

After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
ExecStart=/home/haasrr/repos/etsu_office_hours/runserver.sh
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target
