{% extends '../base.html' %}
{% load form_filters %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 mb-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Create New User</h3>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">
                                {{ field.label }}
                                {% if field.field.required %}
                                    <span class="text-danger">*</span>
                                {% endif %}
                            </label>
                            {{ field|add_class:"form-control" }}
                            {% if field.help_text %}
                                <div class="form-text">{{ field.help_text }}</div>
                            {% endif %}
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="button-container row">
                        <div class="col-sm mb-3">
                            <button type="submit" class="btn bttn-primary w-100">Create User</button>
                        </div>
                        <div class="col-sm mb-3">
                            <a href="{% url 'users:manage' %}" class="btn bttn-warning w-100">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}